#Edit Form

<form action="/songs" method="post">

<input type="text" name="title" placeholder="Enter song title" >
<input type="number" name="release_year" placeholder="Enter song release year">
<input type="submit" value="submit">

</form>

